.technologies {
  align-items: center;
  gap: 60px;
  background-color: $color-white;

  &__title {
    font: $text-title;
    color: $text-dark;
    margin-bottom: 25px;

    & span {
      color: $color-blue;
    }
  }

  &__subtitle {
    font: $text-subtitle;
    text-align: center;
  }
}