.btn {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $color-white;
  background-color: $color-blue;

  &_header {
    padding: 12.5px 40px;
    font-size: 14px;

    & svg {
      display: none;
    }
  }

  &_primary {
    padding: 15px 40px;
  }

  &_dashed {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 0;
    font-weight: 400;
    color: $text-dark;
    background-color: $button-dashed-bg;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none'   rx='5' ry='5' stroke='%23BFC9E0' stroke-width='1' stroke-dasharray='9%2c 7' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  &:hover {
    color: $color-blue;
    background-color: $color-blue-hover;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 14px;
    line-height: 20px;
    padding: 17.5px 0px;

    &_header {
      line-height: 0;
      padding: 11px;
      background-color: $color-blue-hover;

      & svg {
        display: block;
      }

      & p {
        display: none;
      }
    }

    &_dashed {
      gap: 8px;

      & svg {
        width: 17px;
        height: 17px;
      }
    }
  }
}