$page-bg: rgb(240, 243, 249);
$input-bg: rgb(237, 241, 248);
$button-dashed-bg: rgb(244, 246, 251);
$tooltip-bg: rgb(243, 245, 251);

$text-dark: rgb(43, 46, 62);
$text-dark-45: rgba(43, 46, 62, 0.45);

$color-white: rgb(255, 255, 255);
$color-blue: rgb(0, 155, 255);
$color-blue-hover: rgba(0, 155, 255, 0.2);

$text-title: 700 68px/65px 'Gilroy', sans-serif;
$text-subtitle: 500 24px/30px 'Gilroy', sans-serif;
$text-tooltip: 600 16px/20px 'Gilroy', sans-serif;

$text-title-mobile: 700 30px/30px 'Gilroy', sans-serif;
$text-subtitle-mobile: 500 16px/20px 'Gilroy', sans-serif;
$text-tooltip-mobile: 600 14px/20px 'Gilroy', sans-serif;